# Notes:
#
# 1)  If you want to run multiple versions of this repo you
#     will need to customize the following values to avoid
#     collisions when starting:
#
#       PG_PORT
#       ADMINER_PORT
#       DATABASE_CONTAINER_NAME
#       ADMINER_CONTAINER_NAME
#
#
PG_VERSION=18
PG_HOST=127.0.0.1
PG_PORT=5433
PG_ADMIN_USER=postgres
PG_ADMIN_PASSWORD=Secret
ADMINER_PORT=8433
DEMO_ROLE=api
DEMO_PASSWORD=Much-More-Secret
DEMO_DB=alembic_demo
DATABASE_CONTAINER_NAME=alembic-postgres
ADMINER_CONTAINER_NAME=alembic-adminer
